*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000; }

a {
  text-decoration: none; }

.menu {
  border-top: 2px solid #C4C4C4; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: all .3s;
            transform: all .3s; }
    .menu__list-item {
      width: 300px; }
      .menu__list-item:first-child {
        border-left: 1px solid #c4c4c4; }
      .menu__list-item:last-child {
        border-right: 1px solid #c4c4c4; }
    .menu__list-link {
      display: block;
      font-size: 24px;
      line-height: 28px;
      color: #888888;
      padding: 34px 10px 38px;
      border-left: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4; }
      .menu__list-link:hover, .menu__list-link--active {
        color: #fff;
        background-color: #020202; }

.header {
  text-align: center; }
  .header__logo {
    padding: 88px 0 60px; }

.slider__item {
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.slick-arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }
.slick-next {
  right: 20px; }
.slick-prev {
  left: 20px; }

.search-inner {
  padding: 60px 0 70px; }
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search__form-label {
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    margin-right: 69px; }
  .search__form-input {
    height: 70px;
    width: 430px;
    padding: 0 15px;
    border: 2px solid #C4C4C4;
    color: #888888;
    font-size: 18px;
    line-height: 24px; }
    .search__form-input ::-webkit-input-placeholder {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #888888; }
    .search__form-input :-ms-input-placeholder {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #888888; }
    .search__form-input ::-ms-input-placeholder {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #888888; }
    .search__form-input ::placeholder {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #888888; }
  .search__form-btn {
    position: relative;
    background: #C4C4C4;
    border: 2px solid #C4C4C4;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 21px 24px 21px 36px;
    cursor: pointer; }
    .search__form-btn::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      top: 23px;
      left: 9px;
      background: url("../images/search-icon.svg") no-repeat; }

/*# sourceMappingURL=style.css.map */